html{
    background-color: rgba(255, 255, 255, 0.8);
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 1800px;
    margin: auto;
    position: relative;
    background-image: linear-gradient(to right, rgba(255,255,255), rgba(255,0,0,1));
    font-weight: bold;
    font-style: italic;
}
input{
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    font-size: 100%;
    font-weight: lighter;
}
label{
    font-size: 100%;
    padding-left: 5%;
}

/* HEADER */
header{
    background-color: white;
    display: flex;
}
header .headright{
  display: flex;
  text-align: right;
  margin-top: auto;
  margin-left: auto;
  
}
header .headleft{
  padding-left: 5%;
  text-align: left;
}

@media screen and (max-width: 900px) {
    header{
        display: block;
    }
    header .headright{
        padding-left: 5%;
    }   
}

/* NAVBAR */
.navbar{
    background-color: #008CBA
}
.barfields{
    display: flex;
    padding-left: 20%;
    padding-top: 0%;
    list-style-type: none;
    background-color: rgb(200, 226, 255,0.2);
    padding-bottom: 0%;
    border: 5px solid white;
}
.bar{
    padding: 0% 6% 0% 6%;
    
    background-color: rgb(217, 243, 255);
    border: 2px solid rgb(0, 0, 0,0.5);
    border-radius: 25%;
    letter-spacing: 2px;
}
.bar:hover{
    background-color: white;
}
@media screen and (max-width: 900px) {
    .barfields{
        display: block;
        padding: 1% 6% 1% 6%;
    }
}

/* LOGIN */
.formlogin{
    width: 30%;
    background-color: rgb(217, 243, 255,0.5);
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-radius: 20%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 5px 5px 10px lightblue;
    margin-top: 5%;
    margin-left: 5%;
}
.row .col-75{
    width: 90%;
    padding-top: 1%;
    padding-bottom: 1%;
}
/* REGISTER */

.registerimage{
        min-height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: -15%;
        display: none;
}

.registerform {
    position: absolute;
    right: 50%;
    padding: 2%;
    max-width: 100%;
    background-image: linear-gradient(to right, rgba(255,255,255), rgb(217, 243, 255,0.5));
    border-top-left-radius: 10%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 20%;
    box-shadow: 5px 5px 10px lightblue;
    ;
  }
  .registerform input{
      display: block;
      width: 40%;
  }
  @media screen and (max-width: 900px) {
    .registerimage{
        margin-top: 5%;
    }
}

  /* FOOTER */
  footer {
    left: 0%;
    bottom: 0%;
    max-width: 1800px;
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 100%;
  }

/* VIDEOS */

.vide{
    background-color: white;
    text-align: center;
    margin-top: 10%;
    border-top: 1px solid red;
}
.video{
    padding: 5%;
}
.vedostable{
    display: flex;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    list-style-type: none;
    padding: 0%;
}
@media screen and (max-width: 900px) {
    .vedostable{
        display: block;
    }
    .vide{
        margin-top: 30%;
    }
}

/* BUUTON */
button {
    background-color: lightgoldenrodyellow;
    font-size: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

/* CLOCK */
.canvas{
    width: 5%;
    height: 5%;
}